<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Team Profile</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="navbar-brand mb-0">Team Profile</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="margin: 25px">
                    <h4>Peter</h4>
                    <h5>Engineer</h5>
                    <ul>
                        <li>ID</li>
                        <li>email</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="margin: 25px">
                    <h4>Peter</h4>
                    <h5>Engineer</h5>
                    <ul>
                        <li>ID</li>
                        <li>email</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="margin: 25px">
                    <h4>Peter</h4>
                    <h5>Engineer</h5>
                    <ul>
                        <li>ID</li>
                        <li>email</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>